/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --merlin-blue: #2E54D9;
    --merlin-teal: #94CDDA;
    --merlin-green: #CCF5DA;
    --transparent-white: #FFFFFFad;
    --poly-gradient: radial-gradient(at top left, #2E54D9cc 0%, #94CDDA99 75%, #CCF5DAa3 100%);
    --bg-light: #FFF;
    --bg-dark: #333;
}

button {
    color: var(--bg-light);
    background-color: var(--merlin-blue);
}